@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  box-sizing: border-box;
}

.fa-java{
  color: #5382a1;
}

.fa-html5{
  color: #f06529;
}
.fa-css3{
  color: #337ab7;
}

span {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  position: absolute;
  padding-top: 100px;
  font-weight: bold;
}


p {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  padding-top: 180px;
  color: red;
  font-size: 20px;
}

.slider {
  width: 300px;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 20px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 50;
}

.slider > a {
  display: inline-flex;
  width: 3.5rem;
  height: 3.5rem;
  font-size:50px;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 1rem 2rem 0;
  position: relative;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}

@supports (scroll-snap-type) {
  .slider > a {
    display: none;
  }
}

html, body {
  height: 100%;
  overflow: hidden;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #74ABE2, #5563DE);
  font-family: 'Ropa Sans', sans-serif;
}
