@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rock+Salt&family=VT323&display=swap');

h1{
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
